{{!-- <section id="shop" class="pt-5 mt-5 container">
    <h2 class="font-weight-bold pt-5">Shopping Cart</h2>
    <hr>
</section> --}}

{{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" /> --}}
<section id="cart-container" class="container my-5">
    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                 <td>Image</td>
                  <td>Product</td>
                   <td>Price</td>
                    <td>Quantity</td>
                    <td>Total</td>
            </tr>
        </thead>
        
        <tbody>
            <tr>
            <td class="p-5"></i><a href="/"><i class="fa-solid fa-trash"></i></a></td>
            <td class="p-5"><img style="width: 60px; height: 60px;" src="product-images/61efd93848595c1d167262adfirst.jpg" alt=""></td>
            <td ><h5>hhhhh</h5></td>
            <td ><h5>$65</h5></td>
            <td ><input class="w-25 pl-1" value="1" type="number"></td>
            <td >130.00</i></td>
            </tr>

            <tr>
            <td class="p-5"><a href="#"></a></td>
            <td><img style="width: 60px; height: 60px;" src="product-images/61efd93848595c1d167262adfirst.jpg" alt=""></td>
            <td><h5>hhhhh</h5></td>
            <td><h5>$65</h5></td>
            <td><input class="w-25 pl-1" value="1" type="number"></td>
            <td><h5>$130.00</h5></td>
            </tr>

            <tr>
            <td class="p-5"><a href="#"></a></td>
            <td><img style="width: 60px; height: 60px;" src="product-images/61efd93848595c1d167262adfirst.jpg" alt=""></td>
            <td><h5>hhhhh</h5></td>
            <td><h5>$65</h5></td>
            <td><input class="w-25 pl-1" value="1" type="number"></td>
            <td><h5>$130.00</h5></td>
            </tr>

            
        </tbody>

    </table>
</section>
        

<section id="cart-bottom" class="container">
    <div class="row">
        <div class="coupon col-lg-6 col-md-6 col-12 mb-4">
            <div>
                <h5>COUPON</h5>
                <p>Enter your coupon code if you have one.</p>
                <input type="text" placeholder="Coupon Code">
                <button class="btn btn-dark">APPLY COUPON </button>
            </div>
        </div>
       
        <div class="total col-lg-6 col-md-6 col-12">
            <div>
                <h5>CART TOTAL</h5>
                <div class="d-flex justify-content-between">
                    <h6>subtotal</h6>
                    <p>215.00</p>
                </div>

                <div class="d-flex justify-content-between">
                    <h6>Shipping</h6>
                    <p>215.00</p>
                </div>
                <hr class="second-hr">
                
                <div class="d-flex justify-content-between">
                    <h6>Total</h6>
                    <p>215.00</p>
                </div>
               
               <a href="/checkout" class="btn btn-dark ml-auto btn-cart" style="width: 50%;"><b>PROCEED TO CHECKOUT</b></a>
                {{!-- <button class="btn btn-dark ml-auto">PROCEED TO CHECKOUT </button> --}}
            </div>
        </div>

    </div>
</section>


